<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@bordertech/cssgrid@0.0.4/dist/cssgrid-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css">
    <link rel="stylesheet" href="style.css">
    <title>Split Tool</title>
  </head>
  <body>
    <style media="screen">
      body {
        width: 99vw;
        height: 98vh;
      }

      .cg-grid{
        row-gap: 1vh;
        column-gap: 0.5vw;
        margin-bottom: 1.5vh;
      }

    </style>

    <h1>Split Groceries</h1>

    <div id="app">
      <div class="cg-grid">
        <button class="cg-col-md-6" @click="addNewRow">Add New Row</button>
        <button class="cg-col-md-6" @click="resetOtherData">Reset</button>
      </div>

      <template v-for="(row, index) in rows" :key="index">
        <div class="cg-grid">
          <div class="cg-col-5">
            <label>Name:</label>
            <input v-model="row.name" type="text" :disabled="row.isShared">
          </div>
          <div class="cg-col-5">
            <label for="otherData">Expense:</label>
            <input type="text" v-model="row.otherData" id="otherData">
          </div>
          <button class="cg-col-2" v-if="!row.isShared" @click="removeRow(index)"><i class="ri-close-large-line"></i></button>
        </div>
      </template>

      <div class="cg-grid">
        <button class="cg-col-12" @click="calculateVals">Calculate</button>
      </div>

      <!-- {{ calculatedDict }} -->
      <ul>
        <template v-for="(val, name) in calculatedDict" :key="name">
          <li>{{name}}: {{val}}</li>
        </template>
      </ul>

    </div>
    <script src="basic-splitter.js"></script>
  </body>
</html>
